<%- include('../partials/header') %>

    <h3><%= skill.skill %></h3>
    <h3>Proficiency: <%= skill.proficiency %></h3>
    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>

<%- include('../partials/footer') %>